In [10]:
# Import dependencies:
import pandas as pd
import requests

# Import from Google Maps:
import gmaps
import gmaps.datasets

# Import the API key:
from config import g_key

In [11]:
# Import CSV as new DataFrame:
data_to_load = "WeatherPy_vacation.csv"

directions_data_df = pd.read_csv(data_to_load)
directions_data_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Meulaboh,ID,77.88,light rain,4.14,96.13,Kost Pria
1,Mishan,CN,55.36,light rain,45.55,131.88,Mishan Hotel
2,Siniscola,IT,60.28,light rain,40.57,9.69,Hotel Velasole
3,Moyale,KE,66.36,light rain,3.52,39.06,BISMILLAHI HOTEL
4,Banda Aceh,ID,79.25,light rain,5.56,95.32,OYO 884 Rumoh PMI Hotel

In [12]:
# Selection #1 in new DataFrame - City = Ciranjang, Country = ID:
city_1_df = directions_data_df.loc[directions_data_df['City'] == 'Ciranjang']
city_1_df

         City Country  Max Temp Current Description   Lat     Lng   Hotel Name
33  Ciranjang      ID      72.0          light rain -6.79  107.28  Iip sopandi

In [13]:
# Selection #2 in new DataFrame - City = Bambanglipuro, Country = ID:
city_2_df = directions_data_df.loc[directions_data_df['City'] == 'Bambanglipuro']
city_2_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,Bambanglipuro,ID,78.19,light rain,-7.95,110.28,Puri Brata

In [14]:
# Selection #3 in new DataFrame - City = Boyolangu, Country = ID:
city_3_df = directions_data_df.loc[directions_data_df['City'] == 'Boyolangu']
city_3_df

         City Country  Max Temp Current Description   Lat     Lng  Hotel Name
32  Boyolangu      ID     76.59       moderate rain -8.12  111.89  Yos ega cv

In [15]:
# Selection #4 in new DataFrame - City = Malang, Country = ID:
city_4_df = directions_data_df.loc[directions_data_df['City'] == 'Malang']
city_4_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,Malang,ID,76.26,light rain,-7.98,112.63,Hotel Tugu Malang

In [18]:
# Put all 4 city DataFrames together into one: 
chosen_cities = pd.concat([city_1_df, city_2_df, city_3_df, city_4_df])
chosen_cities

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
33,Ciranjang,ID,72.00,light rain,-6.79,107.28,Iip sopandi
21,Bambanglipuro,ID,78.19,light rain,-7.95,110.28,Puri Brata
32,Boyolangu,ID,76.59,moderate rain,-8.12,111.89,Yos ega cv
23,Malang,ID,76.26,light rain,-7.98,112.63,Hotel Tugu Malang

In [20]:
# Filter the slected cities for the latitudes & longitudes:
chosen_cities_locations = chosen_cities.loc[:,['City', 'Lat', 'Lng']]
chosen_cities_locations

             City   Lat     Lng
33      Ciranjang -6.79  107.28
21  Bambanglipuro -7.95  110.28
32      Boyolangu -8.12  111.89
23         Malang -7.98  112.63

In [21]:
# Configure gmaps to use your Google API key:
gmaps.configure(api_key = g_key)

In [22]:
# Latitude & longitude pairs for the selected cities:
Ciranjang = (-6.79,107.28)
Bambanglipuro = (-7.95,110.28)
Boyolangu = (-8.12,111.89)
Malang = (-7.98,112.63)

fig = gmaps.figure()

Malang2Ciranjang_via_Boyolangu_Bambanglipurol = gmaps.directions_layer(Malang, Ciranjang, 
                                          waypoints=[Boyolangu, Bambanglipuro], 
                                          travel_mode='DRIVING')
fig.add_layer(Malang2Ciranjang_via_Boyolangu_Bambanglipurol)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Create information pop up box for hotels:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in chosen_cities.iterrows()]

In [38]:
# Add a heatmap of preferred locations for the vacation spots

locations = chosen_cities[["Lat", "Lng"]]

fig = gmaps.figure(center=(-7.50, 110.00), zoom_level=7.2)

marker_layer = gmaps.marker_layer(locations, 
                                  info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))