In [1]:
# Import the dependencies:
import pandas as pd
import gmaps
import requests

# Import the API key:
from config import g_key

In [2]:
# Import CSV as new DataFrame:
city_data_to_load = "WeatherPy_challenge.csv"

vacation_data_df = pd.read_csv(city_data_to_load)
vacation_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last hour),Snow Inches (last hour)
0,Chipinge,ZW,2020-05-10 23:26:29,-20.19,32.62,50.32,95,54,1.95,broken clouds,0.0,0.0
1,Rikitea,PF,2020-05-10 23:30:29,-23.12,-134.97,75.07,80,22,8.68,few clouds,0.0,0.0
2,Yellowknife,CA,2020-05-10 23:26:43,62.46,-114.35,43.00,44,40,9.17,scattered clouds,0.0,0.0
3,Zhezkazgan,KZ,2020-05-10 23:30:29,47.80,67.71,59.34,66,4,3.89,clear sky,0.0,0.0
4,Ilulissat,GL,2020-05-10 23:30:29,69.22,-51.10,32.00,96,100,9.17,overcast clouds,0.0,0.0

In [3]:
# Ask the customer to add a minimum and maximum temperature value:
min_temp = float(input("What is the minimum temperature you would like on your vacation? "))
max_temp = float(input("what is the maximum temperature you would like on your vacation? "))

What is the minimum temperature you would like on your vacation? 50
what is the maximum temperature you would like on your vacation? 90

In [4]:
# Ask the customer to filter by precipitation preference:
raining_Y_N = str(input("Do you want it to be raining? (yes/no) "))
snowing_Y_N = str(input("Do you want it to be snowing? (yes/no) "))

Do you want it to be raining? (yes/no) yes
Do you want it to be snowing? (yes/no) no

In [5]:
# Filter the dataset to find the cities that fit the preferred max & min:
preferred_temp_df = vacation_data_df.loc[(vacation_data_df["Max Temp"] <= max_temp) & \
                                       (vacation_data_df["Max Temp"] >= min_temp)].dropna()

preferred_temp_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last hour),Snow Inches (last hour)
0,Chipinge,ZW,2020-05-10 23:26:29,-20.19,32.62,50.32,95,54,1.95,broken clouds,0.0,0.0
1,Rikitea,PF,2020-05-10 23:30:29,-23.12,-134.97,75.07,80,22,8.68,few clouds,0.0,0.0
3,Zhezkazgan,KZ,2020-05-10 23:30:29,47.80,67.71,59.34,66,4,3.89,clear sky,0.0,0.0
5,Vila Velha,BR,2020-05-10 23:30:29,-20.33,-40.29,71.60,78,75,3.36,broken clouds,0.0,0.0
6,Hobart,AU,2020-05-10 23:26:26,-42.88,147.33,52.00,76,75,10.29,broken clouds,0.0,0.0

In [6]:
# Filter the dataset to find the cities with preferred precipitation:
for index, row in vacation_data_df.iterrows():
    
    if raining_Y_N == "no":
        rain_Y_N = vacation_data_df["Rain Inches (last hour)"] == 0
    else:
        rain_Y_N = vacation_data_df["Rain Inches (last hour)"] != 0
        
    if snowing_Y_N == "no":
        snow_Y_N = vacation_data_df["Snow Inches (last hour)"] == 0
    else:
        snow_Y_N = vacation_data_df["Snow Inches (last hour)"] != 0

In [7]:
# Filter the dataset to find the cities that fit the criteria from the inputs:
preferred_cities_df = vacation_data_df.loc[(vacation_data_df["Rain Inches (last hour)"] != rain_Y_N) &
                                       (vacation_data_df["Snow Inches (last hour)"] != snow_Y_N) &
                                       (vacation_data_df["Max Temp"] <= max_temp) &
                                       (vacation_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain Inches (last hour),Snow Inches (last hour)
11,Meulaboh,ID,2020-05-10 23:30:30,4.14,96.13,77.88,88,97,4.36,light rain,0.97,0.0
12,Mishan,CN,2020-05-10 23:30:31,45.55,131.88,55.36,71,70,15.50,light rain,0.19,0.0
17,Siniscola,IT,2020-05-10 23:30:31,40.57,9.69,60.28,87,97,4.99,light rain,0.83,0.0
18,Moyale,KE,2020-05-10 23:30:32,3.52,39.06,66.36,100,65,5.06,light rain,0.21,0.0
50,Banda Aceh,ID,2020-05-10 23:26:35,5.56,95.32,79.25,83,100,6.55,light rain,0.80,0.0
57,New Norfolk,AU,2020-05-10 23:30:38,-42.78,147.06,51.01,87,86,1.99,light rain,0.23,0.0
60,Peniche,PT,2020-05-10 23:30:39,39.36,-9.38,61.00,91,97,11.01,moderate rain,1.43,0.0
82,Trairi,BR,2020-05-10 23:27:50,-3.28,-39.27,76.15,89,100,6.17,light rain,0.48,0.0
100,Aosta,IT,2020-05-10 23:30:46,45.77,7.42,57.00,96,99,1.01,moderate rain,2.42,0.0
116,Eydhafushi,MV,2020-05-10 23:30:49,5.10,73.07,84.94,76,99,8.01,moderate rain,2.33,0.0

In [8]:
# Configure gmaps to use your Google API key:
gmaps.configure(api_key = g_key)

In [9]:
# Create DataFrame called hotel_df to store hotel information:
hotel_df = preferred_cities_df[["City", 
                                "Country", 
                                "Max Temp", 
                                "Current Description",
                                "Lat",
                                "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Meulaboh,ID,77.88,light rain,4.14,96.13,
12,Mishan,CN,55.36,light rain,45.55,131.88,
17,Siniscola,IT,60.28,light rain,40.57,9.69,
18,Moyale,KE,66.36,light rain,3.52,39.06,
50,Banda Aceh,ID,79.25,light rain,5.56,95.32,
57,New Norfolk,AU,51.01,light rain,-42.78,147.06,
60,Peniche,PT,61.00,moderate rain,39.36,-9.38,
82,Trairi,BR,76.15,light rain,-3.28,-39.27,
100,Aosta,IT,57.00,moderate rain,45.77,7.42,
116,Eydhafushi,MV,84.94,moderate rain,5.10,73.07,

In [10]:
# Set parameters to search for a hotel:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame:
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude:
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary:
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude:
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search:
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name, skip if no hotel found:
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,Meulaboh,ID,77.88,light rain,4.14,96.13,Kost Pria
12,Mishan,CN,55.36,light rain,45.55,131.88,Mishan Hotel
17,Siniscola,IT,60.28,light rain,40.57,9.69,Hotel Velasole
18,Moyale,KE,66.36,light rain,3.52,39.06,BISMILLAHI HOTEL
50,Banda Aceh,ID,79.25,light rain,5.56,95.32,OYO 884 Rumoh PMI Hotel

In [20]:
# Create information pop up box for hotels:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of preferred locations for the vacation spots

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, 
                                  info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create the output file(CSV)
output_data_file = "WeatherPy_vacation.csv"

# Export the preferred city data into a CSV
hotel_df.to_csv(output_data_file, index=False)