In [1]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key

from config import g_key

In [3]:
# Store the CSV you saved created in part one int a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2020-05-07 23:21:47,9.49,50.81,82.63,73,0,6.08
1,1,Torbay,CA,2020-05-07 23:21:47,47.67,-52.73,37.40,86,90,13.87
2,2,Karla,EE,2020-05-07 23:21:47,59.37,24.93,41.00,75,0,9.17
3,3,Hasaki,JP,2020-05-07 23:21:48,35.73,140.83,60.01,62,75,5.82
4,4,Vila Velha,BR,2020-05-07 23:21:48,-20.33,-40.29,68.00,82,75,8.05

In [4]:
# The data we use for any mapping must be either an integer or a floating-point decimal number

# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key = g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.

# 2. Assign the weights variable to some values.
    # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

# 5. Add the heatmap layer.

# 6. Call the figure to plot the data.

In [11]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of % Cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value

min_temp = float(input("What is the minimum temperature you would like to visit? "))
max_temp = float(input("what is the maximum temperature you would like to visit? "))

What is the minimum temperature you would like to visit? 75
what is the maximum temperature you would like to visit? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2020-05-07 23:21:47,9.49,50.81,82.63,73,0,6.08
15,15,Saint-Philippe,RE,2020-05-07 23:21:50,-21.36,55.77,75.20,73,75,4.70
17,17,Samarinda,ID,2020-05-07 23:18:57,-0.50,117.15,77.58,96,89,1.23
22,22,Vaini,TO,2020-05-07 23:21:53,-21.20,-175.20,80.60,88,75,11.41
24,24,Cayenne,GF,2020-05-07 23:17:04,4.93,-52.33,78.80,100,90,11.01

In [32]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, 
# country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", 
                                "Country", 
                                "Max Temp", 
                                "Lat", 
                                "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0      Bandarbeyla      SO     82.63   9.49   50.81
15  Saint-Philippe      RE     75.20 -21.36   55.77
17       Samarinda      ID     77.58  -0.50  117.15
22           Vaini      TO     80.60 -21.20 -175.20
24         Cayenne      GF     78.80   4.93  -52.33
26          Dingle      PH     82.83  11.00  122.67
28      Butaritari      KI     83.43   3.07  172.79
31            Muli      MV     84.36   2.92   73.57
36          Namibe      AO     80.76 -15.20   12.15
38            Biak      ID     80.02  -0.91  122.88

In [37]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,82.63,9.49,50.81,REER XOOSHLE GROUP
15,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
17,Samarinda,ID,77.58,-0.50,117.15,Aston Samarinda Hotel & Convention Center
22,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
24,Cayenne,GF,78.80,4.93,-52.33,Hôtel Le Dronmi
...,...,...,...,...,...,...
541,China,MX,88.68,25.70,-99.23,Hotel Viajero
543,Baculin,PH,83.07,7.45,126.58,Shovy's Cove
547,Davila,PH,82.40,18.47,120.58,
554,Gidam,IN,79.61,18.98,81.40,Dhanshree Lodge And DormItory
568,Chuncheng,CN,79.90,22.17,111.79,7Days Inn Yangjiang Yangchun Bus Terminal

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, 
                                  info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))